.navbar {
    position: fixed;
    background-color: var(--dark-primary);
    transition: 200ms ease; /* smooth the width extension */
    z-index: 99;
}
.navbar-nav { /* corresponds to the ul */
    list-style: none; /* remove default list style */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item {
    width: 100%;
}
.nav-item:last-child {
    margin-top: auto; /* adjust (make as big as possible) the Logout button to the bottom */
    display: flex;
    align-items: center;
}
.nav-item img {
    width: 30px;
    height: 30px;
    min-width: 2rem;
    margin: 0 1rem;
    border: 2px double var(--dark-primary);
}
.nav-link { /* icons and links*/
    height: 4rem;   /* vertical spacing of the icons */
    display: flex;
    align-items: center;
    color: var(--accent-color1);
    text-decoration: none;  /* remove defaults like underline */
    filter: grayscale(100%); /* opacity(0.7);  /* hue-rotate(20); /* icon default: B&W */
    transition: var(--transition-speed) /* ~600ms */
}
.link-text {
    display: none; /* hidden by default when not hovered on */
    margin-left: 1rem;
}

.nav-link:hover {
    filter: grayscale(0%); /* opacity(1); */
    background: var(--dark-secondary);
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--accent-color1);
    background: var(--dark-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo img {
    width: 30px;
    height: 45px;
    min-width: 2rem;
    margin: 0 1rem;
    transform: rotate(0deg);
    transition: transform 800ms;
}
.navbar:hover .logo img {
    transform: rotate(-180deg);
}


@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 4rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 10rem;
    }
    .navbar:hover .link-text {   /* show nav-item labels on hover */
        display: inline;
        transition: opacity var(--transition-speed);
    }
}

@media only screen and (max-width: 600px) { /* mobile mainly */
    .navbar {   /* change orientation of the navbar */
        bottom: 0;
        width: 100vw;
        height: 2rem;
    }
    .logo {
        display: none;  /* takes too much space in mobile */
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center; 
    }
    main {
        margin: 0;
    }
}