#homePage-main {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: "Roboto", sans-serif; */
    background: black;
    background: url('../image/backgrounds/homepage_background.jpg') center/cover no-repeat; 
    overflow: hidden;
}
    
.home-book > input[type="checkbox"] {
    display: none;
}
img {
    width: 100%;    /*fully fit the book page*/
    height: 100%;
}
.home-book {
    display: flex;
}
#home-cover {
    width: 300px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    box-sizing: border-box;
    border: 5px ridge var(--dark-primary);
    /* background-color: #ffd29e; */
    background: url('../image/backgrounds/flip_book_background.jpg') center/cover no-repeat;
}
#home-cover > form {
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;  
}
#home-cover > form > * {
    width: 80%;
}

#login_error {
    color: red;
}

.change-register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%; /* Optional: Set the container to 100% of the viewport height */
}

.register-request {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-flip-book {
    width: 300px;
    height: 500px;
    position: relative; /*placed relative to normal position (others don't adjust to fill the gap)*/
    perspective: 1500px;
}

.home-flip {
    width: 100%;
    height: 100%;
    position: absolute; /*positioned relative to its parent home-flip-book (not the viewport)*/
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg); /* rotation along y axis*/
    transition: .5s;
    color: #000000;
    border: 5px ridge var(--dark-primary);
}

#home-sheet3{
    border:none;
}

p {
    font-size: 14px;
    line-height:24px;
}
.home-front {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-sizing: border-box; /* include border and padding in the dimensions */
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,0.5);
    /* inner/outer shadow effect (horizontal, vertical, blur radius, color) */
    background: url('../image/backgrounds/flip_book_background.jpg') center/cover no-repeat;
}
.home-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;    /* position in the z axis (bring to front) */
    transform: rotateY(180deg);
    backface-visibility: hidden; /* back face of element transparent when rotating */
    background-color: #000000;
}
.home-next-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;    /* display pointer when hovering */
    
    color: #000000;
}
.home-next-btn:hover {
    color: #ffdda9;
}
.home-back-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;    /* display pointer when hovering */
    color: #ffffff;
}
.home-back-btn:hover {
    color: #ffdda9;
}

/* organise page stacking */
#home-sheet1 {
    z-index: 3;
}
#home-sheet2 {
    z-index: 2;
}
#home-sheet3 {
    z-index: 1;
}
/* if checked all descendents of class and id provided are transformed */
#home-checkbox1:checked ~ .home-flip-book #home-sheet1 {
    transform: rotateY(-180deg);
    z-index: 1;
}
#home-checkbox2:checked ~ .home-flip-book #home-sheet2 {
    transform: rotateY(-180deg);
    z-index: 2;
}
#home-checkbox3:checked ~ .home-flip-book #home-sheet3 {
    transform: rotateY(-180deg);
    z-index: 3;
}

.register-book-page {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow-y: hidden;
    padding:8%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    padding-top: 2rem;
}

.change-register.page{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;  
}

#login-request {
    display: flex;
    justify-content: center;
}


.centered-paragraph{
    text-align: center;
}

input #input-profile-pic {
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px; /* Adjust the margin as needed */
}

input[type="submit"]:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: black;
    color: white;
}