/* Add this CSS to your styles */

.profile {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: #ffffff;
}

.content {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.profile img {
    border: 4px solid #ffffff;
}

h1, h3, h5 {
    margin: 0;
}

.mt-1 {
    margin-top: 10px;
}

.m-3 {
    margin: 20px;
}

.pt-3 {
    padding-top: 20px;
}

.badge-list {
    list-style: none;
    padding: 0;
}

#primary-badge {
    background-color: #007bff;
    color: #ffffff;
}

#secondary-badge {
    background-color: #28a745;
    color: #ffffff;
}

#ternary-badge {
    background-color: #ffc107;
    color: #ffffff;
}

.text-secondary {
    color: #6c757d;
}

.row {
    margin: 10px 0;
}

hr {
    border: 0.5px solid #d1d1d1;
}

/* Media Query for responsiveness */
@media (max-width: 767px) {
    .col-md4,
    .col-md-8 {
        width: 100%;
    }
}
