/* 
    G E N E R A L   S T Y L E S
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 

:root {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    --dark-primary: #530000;
    --dark-secondary: #3e3736;
    --bright-primary: #686868;
    --bright-secondary: #ff8900;
    --accent-color1: #f04b35;
    --accent-color2: #f0a435;
    --min-width-size: 600px;
}
* {
    box-sizing: border-box;
}

/* WARNING: no . before!!! warning */
body { /* setting defaults */
    width: 100%;
    margin: 0;
    padding-left: 4rem;
    padding: 0;
    color: black;
    background-color: var(--dark-secondary);
    overflow-x: hidden;
    overflow-y: auto;

    /* border: 3px solid limegreen; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
/* customize scrollbar using a pseudo class*/
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background: var(--accent-color1);
}

main { /* rem unit relative to font size: 16 px is the default */
    /* margin-left: 3rem; leave space for the navbar */
    width: 100vw;
    /* padding-left: 3rem; */
    /* background-image: url("../image/bookshelf2.png"); */
    /* background-color: var(--bright-primary); */
    /* border: 3px solid red; */
    background: url("../image/backgrounds/library_minecraft.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 83.5vh;
}

footer {
    width: 100vw;
    height: min-content;
    flex-shrink: 0;
    background-color: black;
    margin-top: auto;
    text-align: center;
}
footer > a {
    color: var(--accent-color1);
    text-decoration: none;
    transition: all 0.35s ease;
    margin-left: 3rem;
}
/*
    B U T T O N S , I N P U T S , E T C
*/
main > .floatingButton {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    right: 1rem;
    z-index: 99;

}
.floatingButton {
    text-decoration: none;
    color: var(--accent-color1);
    border: 2px groove var(--accent-color1);
    border-radius: 30%;
    padding: 0.1rem;
}
.floatingButton:hover {
    color: var(--accent-color2);
    border: 2px groove var(--accent-color2);
}

button, input, option {
    /* appearance: none; Remove default appearance */
    /* -webkit-appearance: none; Remove default appearance for Chrome and Safari */
    /* -moz-appearance: none; Remove default appearance for Firefox */
    /* border-style: outset;
    border-width: 2px;
    border-color: var(--bright-secondary);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 1);
    outline: none; */
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    transition: all 0.35s ease;
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
    border-color: black;
}

input[type="radio"] + label:after + label:before {
    /* content: ""; */
    /* display: inline-block; */
    width: 1rem;
    height: 1rem;
    size: 2rem;
    margin: 0.2rem;
    border-radius: 50%;
    /* border: 2px solid var(--bright-secondary); */
    background-color: rgba(255, 255, 255, 0.5);
}
button:hover, option:hover{
    /* outline-style: solid;
    outline-width: 1px;
    outline-color: var(--bright-secondary);
    background: rgba(255, 255, 255, 1); */
    transform: scale(1.05);
    cursor: pointer;
    background-color: black;
    color: white;
}
input:hover, select:hover {
    /* outline-style: solid;
    outline-width: 1px;
    outline-color: var(--bright-secondary);
    background: rgba(255, 255, 255, 1); */
    transform: scale(1.05);
    cursor: pointer;
    /* background-color: black;
    color: white; */
}

input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline-color: var(--accent-color2);
}

#pagination {
    clear: both; /* Add this to clear the float */
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    font-size: 1.2rem;
    border-bottom: 3px groove var(--accent-color1);
    padding: 1em;
    margin-left: 3rem;
    /* gap: 1rem; */
    font-weight: 600;
    color: white;
    /* padding: 0.3rem 0.6rem; */
}
#pagination > a {
    color: var(--accent-color1);
    transition: all 0.35s ease;
}
#pagination > a:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/*
    B O O k  S T U F F
*/
.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 13rem));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 13rem));
    /* minmax() prevents the grid from letting its book-items overflow */
    grid-gap: 3rem 3rem;
    padding: 1rem;
    padding-left: 14vw;
    padding-right: 10vw;
    overflow: hidden;

    justify-content: center;
    justify-items: start;
    align-items: start;
}
.book-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2.5rem 10rem 2.5rem;
    grid-template-rows: 1rem 2rem 11rem 2rem 1rem;

    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;

    transition: transform 400ms ease;
}
.book-item h2 {
    color: #333;
    margin: 0;
    line-height: 1.6rem;
    font-size: 1.3rem;
}
.book-item .author {
    color: #777;
    font-size: 1rem;
}

.shelfImage {
    justify-self: center;
    width: 260%;
    height: 10rem;
    /* object-fit: cover; */
    /* border-radius: 4px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    grid-area: 4 / 1 / -1 / -1;
    min-height: 10rem;
    position: relative;
    transform: translateY(-1rem);   /* bring shelves a little bit up for better 3d effect */
    
}
.bookCover {
    width: 10rem;
    height: 15rem;
    box-shadow: -5px -3px 0px rgba(0, 0, 0, 1);
    border-radius: 4px;
    grid-area: 2 / 2 / 5 / 3;
    transition: transform 200ms ease;
    z-index: 1;
}
.book-details {
    display: none;
}
/* the form is a non hoverable/fixed version of book-details when a form is clicked */
.book-details-form { 
    display: flex;
    flex-direction: column;
}
.book-details, .book-details-form { 
    grid-area: 3 / 1 / 4 / -1;

    background-color: rgba(206, 205, 205, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Rounded corners */
    transition: transform 400ms ease;
    z-index: 2;
    padding: 0.4rem;
    text-align: center;

    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    gap: 0rem;
}
.book-details *, .book-details-form * {
    margin: 0;
    max-width: 100%;
}
.book-item:hover .bookCover {
    transform: scale(0.97);
    opacity: 0.5;
    animation-play-state: paused;
}
.book-item:hover .book-details {
    transform: scale(1.02);
    display: flex;
    flex-direction: column;   
}
.miniForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}
.miniForm label {
    font-size: 0.8rem;
    line-height: 1rem;
}
.miniFormLine {
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 0.5rem;
}
.miniFormLine label {
    font-size: 0.6rem;
}

.link-to-profile {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.link-to-profile:hover {
    color: var(--dark-secondary);
    transition: all 0.35s ease;
}

/* Style for the borrow-info section */
.borrow-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed for spacing from the previous section */
}

/* Style for the borrow-details div within borrow-info */
.borrow-details {
    text-align: center;
    border: 2px solid black; /* Border styling, adjust color as needed */
    border-radius: 10px; /* Adjust border radius as needed */
    background-color: #fff;
    padding: 15px; /* Adjust padding as needed */
    margin: 10px 0; /* Adjust margin as needed */
}

/* Style for individual borrow details */
.borrow-details p {
    margin: 5px 0; /* Adjust as needed for spacing between each detail */
    font-size: 1.2rem; /* Adjust as needed for the font size */
}

/* Style for the reject-notification section */
.reject-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed for spacing from the previous section */
}

.reject-notification-message {
    font-size: 1.2rem; /* Adjust as needed for the message font size */
    margin-bottom: 15px; /* Adjust as needed for spacing between the message and the form */
}

.form-delete-borrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-delete-borrow input[type="submit"] {
    margin-top: 10px; /* Adjust as needed for spacing between the form and the submit button */
    padding: 10px; /* Adjust as needed for the button padding */
    cursor: pointer;
    background-color: #007BFF; /* Adjust as needed for the button background color */
    color: #fff; /* Adjust as needed for the button text color */
    border: none;
    border-radius: 5px;
    font-size: 1rem; /* Adjust as needed for the button font size */
}

.form-delete-borrow input[type="submit"]:hover {
    background-color: #0056b3; /* Adjust as needed for the button hover background color */
}

#currently_reading_shelf{
    padding-left: 0;
    padding-right: 0;
}

/* Style for each user info field */
.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

/* Style for the user info labels */
.info-row .info-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 0.5rem; /* Add spacing between label and data */
}

/* Style for the user info data */
.info-row .info-field {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

#currently_reading_section{
    border: 2px solid black; /* Border styling, adjust color as needed */
    border-radius: 2rem;
    padding: 1rem;
    background-color: #fff;
}
