/* 
    G E N E R A L   S T Y L E S
*/
/* 
    G E N E R A L   S T Y L E S
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 

:root {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    --dark-primary: #530000;
    --dark-secondary: #3e3736;
    --bright-primary: #686868;
    --bright-secondary: #ff8900;
    --accent-color1: #f04b35;
    --accent-color2: #f0a435;
    --min-width-size: 600px;
}
* {
    box-sizing: border-box;
}

/* WARNING: no . before!!! warning */
body { /* setting defaults */
    width: 100%;
    margin: 0;
    padding-left: 4rem;
    padding: 0;
    color: black;
    background-color: var(--dark-secondary);
    overflow-x: hidden;
    overflow-y: auto;

    /* border: 3px solid limegreen; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
/* customize scrollbar using a pseudo class*/
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background: var(--accent-color1);
}
main { /* rem unit relative to font size: 16 px is the default */
    /* margin-left: 3rem; leave space for the navbar */
    /* width: 100vw; */
    /* width: 100vw; */
    /* background-image: url("../image/bookshelf2.png"); */
    /* background-color: var(--bright-primary); */
    /* border: 3px solid red; */
    background-color: transparent;
    position: relative;
    background-color: transparent;
    position: relative;
}
main::after {  /* trick for adjusting the opacity */
main::after {  /* trick for adjusting the opacity */
    content: "";
    position: absolute;
    background-image: url("../image/bookshelf2.png");
    opacity: 0.5; /* Adjust this value to change the opacity */
    z-index: -1;
    z-index: -1;
}




footer {
    width: 100vw;
    height: min-content;
    flex-shrink: 0;
    background-color: transparent;
    margin-top: auto;
    text-align: center;
}
footer > a {
    color: var(--accent-color1);
    text-decoration: none;
    transition: all 0.35s ease;
    margin-left: 3rem;
}
/*
    B U T T O N S , I N P U T S , E T C
*/
    background-color: transparent;
    margin-top: auto;
    text-align: center;
}
footer > a {
    color: var(--accent-color1);
    text-decoration: none;
    transition: all 0.35s ease;
    margin-left: 3rem;
}
/*
    B U T T O N S , I N P U T S , E T C
*/
button, input, option, select {
    /* appearance: none; Remove default appearance */
    /* -webkit-appearance: none; Remove default appearance for Chrome and Safari */
    /* -moz-appearance: none; Remove default appearance for Firefox */
    /* border-style: outset;
    border-width: 2px;
    border-color: var(--bright-secondary);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 1);
    outline: none; */
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    transition: all 0.35s ease;
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
    border-color: black;
}
input[type="radio"] + label:after + label:before {
    /* content: ""; */
    /* display: inline-block; */
    width: 1rem;
    height: 1rem;
    size: 2rem;
    margin: 0.2rem;
    border-radius: 50%;
    /* border: 2px solid var(--bright-secondary); */
    background-color: rgba(255, 255, 255, 0.5);
}
button:hover, input:hover[type="submit"] {
button:hover, input:hover[type="submit"] {
    /* outline-style: solid;
    outline-width: 1px;
    outline-color: var(--bright-secondary);
    background: rgba(255, 255, 255, 1); */
    transform: scale(1.05);
    cursor: pointer;
    background-color: black;
    color: white;
}
button:hover, input:hover, option:hover, select:hover {
    /* outline-style: solid;
    outline-width: 1px;
    outline-color: var(--bright-secondary);
    background: rgba(255, 255, 255, 1); */
    transform: scale(1.05);
    cursor: pointer;
    /* background-color: black;
    color: white; */
}
button:hover, input:hover, option:hover, select:hover {
    /* outline-style: solid;
    outline-width: 1px;
    outline-color: var(--bright-secondary);
    background: rgba(255, 255, 255, 1); */
    transform: scale(1.05);
    cursor: pointer;
    /* background-color: black;
    color: white; */
}
input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline-color: var(--accent-color2);
    outline-color: var(--accent-color2);
}
#pagination {
    clear: both; /* Add this to clear the float */
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    font-size: 1.2rem;
    border-bottom: 3px groove var(--accent-color1);
    padding: 1em;
    margin-left: 3rem;
    /* gap: 1rem; */
    font-weight: 600;
    color: white;
    /* padding: 0.3rem 0.6rem; */
}
#pagination > a {
    color: var(--accent-color1);
    transition: all 0.35s ease;
}
#pagination > a:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/*
    B O O k  S T U F F
*/
#pagination {
    clear: both; /* Add this to clear the float */
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    font-size: 1.2rem;
    border-bottom: 3px groove var(--accent-color1);
    padding: 1em;
    margin-left: 3rem;
    /* gap: 1rem; */
    font-weight: 600;
    color: white;
    /* padding: 0.3rem 0.6rem; */
}
#pagination > a {
    color: var(--accent-color1);
    transition: all 0.35s ease;
}
#pagination > a:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/*
    B O O k  S T U F F
*/
.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 13rem));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 13rem));
    /* minmax() prevents the grid from letting its book-items overflow */
    grid-gap: 3rem 3rem;
    padding: 1rem;
    padding-left: 14vw;
    padding-left: 14vw;
    padding-right: 10vw;
    overflow: hidden;

    justify-content: center;
    justify-items: start;
    align-items: start;
}
.book-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2.5rem 10rem 2.5rem;
    grid-template-rows: 1rem 2rem 11rem 2rem 1rem;

    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;

    transition: transform 400ms ease;
}

.shelfImage {
    justify-self: center;
    width: 260%;
    height: 10rem;
    /* object-fit: cover; */
    /* border-radius: 4px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    grid-area: 4 / 1 / -1 / -1;
    min-height: 10rem;
    position: relative;
    transform: translateY(-1rem);   /* bring shelves a little bit up for better 3d effect */
    
}
.bookCover {
    width: 10rem;
    height: 15rem;
    box-shadow: -5px -3px 0px rgba(0, 0, 0, 1);
    border-radius: 4px;
    grid-area: 2 / 2 / 5 / 3;
    transition: transform 200ms ease;
    z-index: 1;
}
.book-details { 
    grid-area: 3 / 1 / 4 / -1;
    background-color: rgba(206, 205, 205, 0.8);
    background-color: rgba(206, 205, 205, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Rounded corners */
    padding: 1px; /* Add some padding */
    display: none; 
    transition: transform 400ms ease;
    z-index: 2;
    line-height: 0.6rem;
    white-space: nowrap;
}
.book-details-form { 
    grid-area: 3 / 1 / 4 / -1;
    background-color: rgba(216, 205, 205, 0.8);
    background-color: rgba(216, 205, 205, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Rounded corners */
    padding: 1px; /* Add some padding */
    transition: transform 400ms ease;
    z-index: 2;
    line-height: 0.6rem;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
}

.miniForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 0.2rem;
}
.miniFormLine {
    display: flex;
    align-items: center;
    justify-items: center;
}
.miniFormLine label {
    font-size: 0.6rem;
}
.book-details-form h3 {
    color: #333;
    margin: 0;
}
.book-details-form .author {
    color: #777;
}

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
}

.miniForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 0.2rem;
}
.miniFormLine {
    display: flex;
    align-items: center;
    justify-items: center;
}
.miniFormLine label {
    font-size: 0.6rem;
}
.book-details-form h3 {
    color: #333;
    margin: 0;
}
.book-details-form .author {
    color: #777;
}

.book-item:hover .bookCover{
    transform: scale(0.97);
    opacity: 0.5;
    animation-play-state: paused;
}
.book-item:hover .book-details {
    transform: scale(1.02);
    animation-play-state: paused;
   
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.link-to-profile {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  .link-to-profile:hover {
    color: var(--dark-secondary);
    transition: all 0.35s ease;
  }



